* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .align_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*--------------  css for header----------------*/
  header {
    position: relative;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: white;
    z-index: 3;
  }
  .container {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background: rgb(179, 168, 168);
    display: flex;
  }
  
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    scale: 0.8;
    content: url("/front end codes/Other-pages/Assests/college_logo.png");
  }
  .navbar {
    float: right;
    min-height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }
  .nav-links {
    display: flex;
    align-items: center;
    float: right;
  }
  .nav-links li {
    list-style-type: none;
  }
  .nav-links li a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 0.7rem;
    font-weight: 500;
    font-size: 1.05rem;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-color: #fff;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 3px;
      transition: 0.3s ease all;
    }
    &:hover::after {
      width: 100%;
    }
  }
  .nav-links button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.75rem 1rem;
    margin: 0 0.7rem;
    border-radius: 6px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-weight: bold;
  }
  /*--------------  css for footer----------------*/
  footer {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: black;
    padding: 10px;
  }
  .footer_bar {
    width: 100%;
  }
  .icons {
    background-color: white;
    border-radius: 12px;
    scale: 1.5;
    width: 25px;
    height: 25px;
    margin: 25px 20px;
  }
  .naviagtions {
    width: 100%;
  }
  .footer-nav {
    display: flex;
  }
  .footer-nav-item {
    list-style-type: none;
    margin-top: 10px;
  }
  .footer-nav-link {
    text-decoration: none;
    margin: 10px;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .btn_container {
    width: 100%;
    height: max-content;
    padding: 10px;
  }
  .btn_contactus {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 5px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #fff;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 15px;
  }
  .tnc {
    width: 100%;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 10px 0 0 0;
  }
  