* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------  css for header----------------*/
header {
  position: relative;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
}
.container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: rgb(179, 168, 168);
  display: flex;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  scale: 0.8;
  content: url("/front end codes/Other-pages/Assests/college_logo.png");
}
.navbar {
  float: right;
  min-height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.nav-links {
  display: flex;
  align-items: center;
  float: right;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 0.7rem;
  font-weight: 500;
  font-size: 1.05rem;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: #fff;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  &:hover::after {
    width: 100%;
  }
}
.nav-links button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 0.7rem;
  border-radius: 6px;
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: bold;
}
/*--------------  css for section & article----------------*/
footer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: black;
  padding: 10px;
}
.footer_bar {
  width: 100%;
}
.icons {
  background-color: white;
  border-radius: 12px;
  scale: 1.5;
  width: 25px;
  height: 25px;
  margin: 25px 20px;
}
.naviagtions {
  width: 100%;
}
.footer-nav {
  display: flex;
}
.footer-nav-item {
  list-style-type: none;
  margin-top: 10px;
}
.footer-nav-link {
  text-decoration: none;
  margin: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn_container {
  width: 100%;
  height: max-content;
  padding: 10px;
}
.btn_contactus {
  display: flex;
  width: 150px;
  height: 50px;
  padding: 5px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
}

.line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-top: 15px;
}
.tnc {
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 10px 0 0 0;
}

/* My[kishan] code starts here  */

.sections {
  height: 100vh;
}
.sections.formSection {
  overflow: hidden;
  position: relative;
}
.formSection {
  z-index: -1;
  background-image: url("Images/jobPostImage.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  transform: translateY(0%);
  background-size: 100vw 70vh;
}

.sections.secondSection {
  display: flex;
  justify-content: center;

  position: relative;
}

.secondSection .majorDiv {
  width: 1148px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.majorDiv .subDiv {
  /* border: 3px solid rgb(175, 171, 171);
    border-radius: 10px;
    width: 1148px;
height: 164px;
margin-top: 20px;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-around; */
  /* padding-top: 45px; */
}

.majorDiv .subDiv .organization .title {
  color: #000;
  font-family: Adamina;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secondSection .majorDiv .subDiv .role .title {
  color: #000;
  font-family: Adamina;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secondSection .majorDiv .subDiv .role .info {
}
.letters {
  color: #000;
  font-family: Adamina;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  border-radius: 6px;
  background: black;
  color: #fff;
  font-weight: bold;
}

.majorDiv .buttonSection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-container {
  transform: translate(30%, 15%);
  /* transform: translateX(10%); */
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100%;
}
.lf-text-1 {
  color: #fff;
  font-family: Adamina;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lf-text-2 {
  color: #979797;
  font-family: Adamina;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lf-text-2 a {
  color: #000;
  font-family: Adamina;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: none;
}
#lf-name,
#lf-phone,
#lf-company,
#lf-message {
  display: inline-flex;
  padding: 13px 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #dadada;
  background: transparent;
}
#login {
  color: #000;
  display: flex;
  padding: 10px 10px;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
  border-radius: 4px;
  background: #fff;
  text-decoration: none;
}
.lf-image {
  content: url("https://c.ndtvimg.com/2022-11/38ivuitg_graduation-generic-istock_625x300_01_November_22.jpg");
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.bl {
  color: #fff;
  margin-bottom: 10px;
}

/* My code ends here */

@media (max-width: 820px) {
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
  }
  .menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
  }
  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
  }

  .menu-btn.active .bar:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 300px;
    width: 225px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    z-index: 10;
  }
  .nav-links li a {
    color: #000;
    &::after {
      background-color: #000;
    }
  }
  .nav-links button {
    border-color: #fff;
    color: #fff;
    padding: 0.75rem 1.5rem;
  }
  .nav-links.active {
    transform: translateX(0%);
  }

  footer {
    padding: 5px;
  }
  .footer-nav-link {
    margin: 2px;
    font-size: 15px;
  }
  .btn_container {
    padding: 0;
  }
  .btn_contactus {
    margin: 0px;
    scale: 0.8;
  }
  .icons {
    scale: 1.2;
    margin: 10px;
  }
  .line {
    margin-top: 0px;
  }
  .formSection {
    z-index: -1;
    background-image: url("Images/jobPostImage.png");

    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;

    background-size: 100vw 20vh;
  }
  .login-container {
    width: 100%;
    transform: translate(0%, 15%);
  }
  .sections {
  }
  .secondSection .majorDiv {
    width: 100%;
    border: blue solid;
    position: relative;
  }
  .sections.secondSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: darkgreen solid;
  }
  .majorDiv .subDiv {
    width: 10px;
    border: 10px red solid;
    background-color: red;
    height: 10px;
  }
}

.majorDiv .subDiv {
  border: 3px solid rgb(175, 171, 171);
  border-radius: 10px;
  width: 100vw;
  height: 164px;
  margin-top: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* padding-top: 45px;  */
}

@media (max-width: 350) {
  .news_container {
    display: block;
  }
  .news_card {
    width: 100%;
    height: 324px;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  }
}
