*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    height:100dvh;
    width:100%;
    
  }
  .container{
    height:100%;
    width:100%;
    display:flex;
    padding-top: 100px;
  }
  
  .login-container{
    width:50%;
    height:100%;
      display:flex;
    justify-content:center;
    align-items:center;
    background-color: aqua;
  }
  .login-form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    height:100%;
  }
  .lf-text-1{
    color: #000;
  font-family: Adamina;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .lf-text-2{
    color: #979797;
  font-family: Adamina;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  #lf-Current_Company,#lf-Current_Location,#lf-Phone_Number,#lf-dob,#lf-year-of-passing,#lf-branch,#lf-current-company,#lf-Current-Location,#lf-total-expierence,#lf-profile{
    display: inline-flex;
  padding: 13px 12px;
  align-items: flex-start;
  gap: 10px;
    border-radius: 8px;
  border: 1px solid #DADADA;
  }
  #Signup{
    color:white;
    display: flex;
  padding: 10px 10px;
  gap: 8px;
    justify-content:center;
    border-radius: 4px;
  background: #000;
  }
  .lf-image{
    content:url("https://c.ndtvimg.com/2022-11/38ivuitg_graduation-generic-istock_625x300_01_November_22.jpg");
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .lf-image{
    content:url("https://c.ndtvimg.com/2022-11/38ivuitg_graduation-generic-istock_625x300_01_November_22.jpg");
    width: 50%;
    height: 100%;
    object-fit: cover;
  }


  /* My[kishan] code starts here  */

  .file-input{
    
    height: 100%;
    
    
    border-radius: 8px;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    
    height: 100px;
    
    border: 1px dashed #c0bebe;
    margin-bottom: 10px;
    position: absolute;
  }
  .file-input .file{
    height: 100%;
    width: 100%;
    
    background-color: aqua;
    cursor: pointer;
    opacity: 0;
  }
  
.msg{
  position: absolute;
  color:#979797 ;
}
  .wrapper{
    position: relative;
    margin-bottom: 110px;
  }

  /* My[kishan] code starts here  */
  @media (max-width:540px){
    *{
    }
    body{
      background-color:none;
    }
    .container{
      flex-direction:column;
    }
    .login-container{
    width:100%;
    }
    .login-form{
      background-color:white;
      height:max-content;
      border-radius:20px;
      padding:25px;
      
    }
    .lf-image{
      display:none;
    }
=======
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    height:100dvh;
    width:100%;
    
  }
  .container{
    height:100%;
    width:100%;
    display:flex;
    padding-top: 100px;
  }
  
  .login-container{
    width:50%;
    height:100%;
      display:flex;
    justify-content:center;
    align-items:center;
    background-color: aqua;
  }
  .login-form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    height:100%;
  }
  .lf-text-1{
    color: #000;
  font-family: Adamina;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .lf-text-2{
    color: #979797;
  font-family: Adamina;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  #lf-Current_Company,#lf-Current_Location,#lf-Phone_Number,#lf-dob,#lf-year-of-passing,#lf-branch,#lf-current-company,#lf-Current-Location,#lf-total-expierence,#lf-profile{
    display: inline-flex;
  padding: 13px 12px;
  align-items: flex-start;
  gap: 10px;
    border-radius: 8px;
  border: 1px solid #DADADA;
  }
  #Signup{
    color:white;
    display: flex;
  padding: 10px 10px;
  gap: 8px;
    justify-content:center;
    border-radius: 4px;
  background: #000;
  }
  .lf-image{
    content:url("https://c.ndtvimg.com/2022-11/38ivuitg_graduation-generic-istock_625x300_01_November_22.jpg");
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .lf-image{
    content:url("https://c.ndtvimg.com/2022-11/38ivuitg_graduation-generic-istock_625x300_01_November_22.jpg");
    width: 50%;
    height: 100%;
    object-fit: cover;
  }


  /* My[kishan] code starts here  */

  .file-input{
    
    height: 100%;
    
    
    border-radius: 8px;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    
    height: 100px;
    
    border: 1px dashed #c0bebe;
    margin-bottom: 10px;
    position: absolute;
  }
  .file-input .file{
    height: 100%;
    width: 100%;
    
    background-color: aqua;
    cursor: pointer;
    opacity: 0;
  }
  
.msg{
  position: absolute;
  color:#979797 ;
}
  .wrapper{
    position: relative;
    margin-bottom: 110px;
  }

  /* My[kishan] code starts here  */
  @media (max-width:540px){
    *{
    }
    body{
      background-color:none;
    }
    .container{
      flex-direction:column;
    }
    .login-container{
    width:100%;
    }
    .login-form{
      background-color:white;
      height:max-content;
      border-radius:20px;
      padding:25px;
      
    }
    .lf-image{
      display:none;
    }
  }