* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------  css for header----------------*/
header {
  position: relative;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: white;
}
.container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: rgb(179, 168, 168);
  display: flex;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  scale: 0.8;
  content: url("/front end codes/Other-pages/Assests/college_logo.png");
}
.navbar {
  float: right;
  min-height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.nav-links {
  display: flex;
  align-items: center;
  float: right;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  text-decoration: none;
  color: #000;
  margin: 0 0.7rem;
  font-weight: 500;
  font-size: 1.05rem;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: #fff;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  &:hover::after {
    width: 100%;
  }
}
.nav-links button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 0.7rem;
  border-radius: 6px;
  background: black;
  color: #fff;
  font-weight: bold;
}

/*--------------  css for section & article----------------*/
.news_container_layout {
  display: flex;
  width: 100%;
  height: auto;
}
.news_container {
  width: 100%;
  height: auto;
  padding: 20px;
  flex-wrap: wrap;
}
/*------ css of cards ---*/
.news_card {
  width: 316px;
  height: 324px;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 10px 10px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

.card_image {
  height: 162px;
  background-color: black;
  border-radius: 10px;
}
.card_image img {
  object-fit: fit;
  background-repeat: none;
  color: white;
}
.card_content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.heading {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Adamina;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 128.571% */
}
.content {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Adamina;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.content a {
  text-decoration: none;
}
/*--------------  css for footer----------------*/
footer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: black;
  padding: 10px;
}
.footer_bar {
  width: 100%;
}
.icons {
  background-color: white;
  border-radius: 12px;
  scale: 1.5;
  width: 25px;
  height: 25px;
  margin: 25px 20px;
}
.naviagtions {
  width: 100%;
}
.footer-nav {
  display: flex;
}
.footer-nav-item {
  list-style-type: none;
  margin-top: 10px;
}
.footer-nav-link {
  text-decoration: none;
  margin: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn_container {
  width: 100%;
  height: max-content;
  padding: 10px;
}
.btn_contactus {
  display: flex;
  width: 150px;
  height: 50px;
  padding: 5px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
}

.line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-top: 15px;
}
.tnc {
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 10px 0 0 0;
}

@media (max-width: 820px) {
  .container {
    display: flex;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
  }
  .menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
  }
  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
  }

  .menu-btn.active .bar:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    height: 300px;
    width: 225px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    z-index: 10;
  }
  .nav-links li a {
    color: #000;
    &::after {
      background-color: #000;
    }
  }
  .nav-links button {
    border-color: #fff;
    color: #fff;
    padding: 0.75rem 1.5rem;
  }
  .nav-links.active {
    transform: translateX(0%);
  }

  footer {
    padding: 5px;
  }
  .footer-nav-link {
    margin: 2px;
    font-size: 15px;
  }
  .btn_container {
    padding: 0;
  }
  .btn_contactus {
    margin: 0px;
    scale: 0.8;
  }
  .icons {
    scale: 1.2;
    margin: 10px;
  }
  .line {
    margin-top: 0px;
  }
}

@media (max-width: 350) {
  .news_container {
    display: block;
  }

  .news_card {
    width: 100%;
    height: 324px;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  }
}
